*{
margin: 0px;
padding: 0px;
}
ul{
    list-style-type: none;
}
.modificarnav{
    
    padding: 20px;
}

#logo{ 
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    }

.slider{
    margin-top:50px;
    margin-bottom: 100px;
}
.modiofertas{
    display: flex;
    padding: 0px;
    justify-content: center;
}

.card{
    transition: transform 1s;
    box-shadow: 2px 2px 3px #999;
}
.card:hover{
    transform: scale(1.1);
}

.footerdesing{
    background-color: rgb(53, 53, 53);
}

.imgfooter{
    display: block;
    text-align: center;
    color: wheat;
    padding-top: 50px;
    margin-bottom: 50px;
}

.textfooter{
    color: wheat;
    margin-top: 50px;
    padding-left: 50px;
    
}

.nosotros{
    margin-top: 30px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(75, 74, 74);
    color: white;
    
}
.nosotros-text{
    opacity: 0;
    transition: all 3s;
}
.nosotros-img:hover ~ .nosotros-text{
    opacity: 1;   
}
.nosotros-img:hover{
    opacity: 0.8;
}
.nosotros-lista li{
    display: flex;
    flex-direction: row;

}
.nosotros-item{
    display:flex;
    margin: 5px 20px 5px 20px;
}

.nosotros-text{
    margin-left: 15px;
}

.iframedesing{
    display: flex;
    justify-content: center;
}

h3{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    background-color: #212529;
}


.modiform h2 {
    padding: 15px 0 15px 0;
}

.modiform {
    margin-bottom: 30px;
}

.iconos{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}


header
{
    background-image:url(media/perro-t.jpg);
    height: max-content;
    background-size: cover;
    background-position:top;
    
}

.jumbotron{
    background-color: unset;
    color: white;
}


.ofertas{
    margin-top: 20px;
    margin bottom: 20px;
}


#producto-titulo h2{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 80px;
    color: black;
    }

.producto-categoria h4{
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
}



